@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

*:focus {
    outline: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table; }

.clearfix:after {
	clear: both; }

.clearfix {
	*zoom: 1; }

.ember-application {

}

.active {
	font-weight: bold;
}

body {
	background: #fafafa;
	font-family: 'OpenSans';
	color: #294257;
	font-weight: 300;
}

header {
	position: fixed;
	top: 0;
	background: #f7f7f7;
	border-right: 1px solid rgba(0,0,0,0.05);
	overflow: hidden;
	font-size: 1rem;
	line-height: 0.1em;
	width: 100%;
	padding: 0 0.1rem;
	height: 2rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	font-weight: 700;
}

header li{
  	display: inline;
  	padding: 0 0.1rem;
	color: rgba(0, 128, 128, .6);
}

header li:first-child{
	color: #294257;
	letter-spacing: 0.15rem;
}

header li:hover {
	color: #294257;
}

nav {
	width: 250px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 2rem;
	border-right: 1px solid rgba(0,0,0,0.05);
}

#content {
	position: fixed;
	left: 250px;
	top: 2rem;
	right: 0;
	bottom: 0;
	padding: 1rem;
}
