@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

*:focus {
    outline: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table; }

.clearfix:after {
	clear: both; }

.clearfix {
	*zoom: 1; }

.ember-application {

}

.active {
	font-weight: bold;
}

body {
	background: #fafafa;
	font-family: 'OpenSans';
	color: #294257;
	font-weight: 300;
}

header {
	position: fixed;
	top: 0;
	left: 3rem;
	background: #f7f7f7;
	overflow: hidden;
	font-size: 1rem;
	line-height: 0.1em;
	width: 100%;
	height: 2rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	font-weight: 700;
}

header li{
  	display: inline;
	color: rgba(0, 128, 128, .6);
}

header li:first-child{
	color: #294257;
	letter-spacing: 0.15rem;
}

header li:hover {
	color: #294257;
}

.avatar {
	width: 100%;
	margin: 0 auto;
	height: 200px;
}

.avatar img {
	position: absolute;
	top: 4%;
	left: 15%;
	width: 150px;
	border-radius: 100px;
}


aside {
	width: 15rem;
	height: 100%;
	position: fixed;
	right: 0rem;
	top: 2rem;
	border-right: 1px solid rgba(0,0,0,0.05);
}

#content {
	position: fixed;
	left: 0;
	top: 2rem;
	right: 15rem;
	bottom: 0;
	background: #fefefe;
}

h2 {
	margin: 0;
	width: 100%;
	padding: 1.5rem 3rem;
	background: lightgrey;
	font-weight: 300;
	text-align: center;
}

.grid {
	width: 97%;
	padding: 2rem;
}

.grid.element {
	float: left;
	padding-right: 6px;
	width: 33.3%;
}

.grid.element img {
	width: 100%;
	height: auto;
}


/* Medium screens (640px) */
@media (min-width: 40rem) {
		.grid.element {width: 20%;}
}

/* Big screens (1024px) */
@media (min-width: 64rem) {
	.grid.element {width: 16.6%;}
}

/* Large screens (1600px) */
@media (min-width: 1600px) {
	.grid.element {width: 14.3%;}
}


