@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
	background: #fafafa;
	font-family: 'OpenSans';
	color: #294257;
	font-weight: 200;
}

h1 {
	font-family: 'OpenSans';
	color: #294257;
	font-weight: 300;
}

header {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

@media (min-width: 50rem) {
	html {font-size: 1.2rem; }
}

@media (min-width: 100rem) {
 	html {font-size: 1.6rem; }
}


